.dudaContainer {
	max-width: 90%;
	margin: 50px auto;
	border: 1px solid blue;
	height: auto;
	/* overflow: hidden; */
	background: #113474;
}

/* Start CSS Here */
.customInteractiveMap-Main-Container,
.customInteractiveMap-Main-Container a,
.customInteractiveMap-Main-Container div,
.customInteractiveMap-Main-Container img,
.customInteractiveMap-Main-Container label,
.customInteractiveMap-Main-Container input,
.customInteractiveMap-Main-Container select {
	position: relative;
	display: block;
	width: 100%;
	height: auto;
	padding: 0;
	margin: 0;
	line-height: 1.5em;
	text-decoration: none;
	box-sizing: border-box;
}

/* .dudaContainerFit .customInteractiveMap-Main-Container,
.dudaContainerFit .customInteractiveMap-Main-Container a,
.dudaContainerFit .customInteractiveMap-Main-Container div,
.dudaContainerFit .customInteractiveMap-Main-Container img,
.dudaContainerFit .customInteractiveMap-Main-Container label,
.dudaContainerFit .customInteractiveMap-Main-Container input,
.dudaContainerFit .customInteractiveMap-Main-Container select {
	width: auto;
    height: 100vh;
    margin: 0 auto;
} */

.customInteractiveMap-Main-Container,
.customInteractiveMap-Main-Container > div {
	padding: 20px;
}

.customInteractiveMap-Main-Container {
	padding: 20px 0;
}

/*Loader CSS*/
.widget-Loader-Container {
	/* position: absolute; */
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	/* background-color: #c8c8c880; */
	z-index: 1;
}

.widget-Loader-Container svg {
	max-width: 200px;
	animation: 2s linear infinite svg--animation;
}

.widget-Loader-Container svg circle.one {
	display: block;
	fill: transparent;
	stroke: #c3c3c3;
	stroke-width: 3px;
}

.widget-Loader-Container svg circle.two {
	animation: 3s linear infinite circle-animation;
	display: block;
	fill: transparent;
	/* stroke: rgb(255, 164, 0); */
	stroke: rgb(var(--primaryColor));
	stroke-linecap: round;
	stroke-dasharray: 253;
	stroke-dashoffset: 250;
	stroke-width: 3px;
	transform-origin: 50% 50%;
}

@keyframes circle-animation {
	0% {
		stroke-dashoffset: 250;
		transform: rotate(0deg);
	}

	50% {
		stroke-dashoffset: 75;
		transform: rotate(45deg);
	}

	100% {
		stroke-dashoffset: 250;
		transform: rotate(360deg);
	}
}

@keyframes svg--animation {
	0% {
		transform: rotateZ(0deg);
	}

	100% {
		transform: rotateZ(360deg);
	}
}
/*End Loader CSS*/

/*Error Handling*/
.widget-noCollection-Title {
	margin: auto;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 20px;
	font-weight: 600;
	color: rgb(var(--warningColor));
}

.widget-noCollection-Subtext {
	margin: auto;
	display: flex;
	justify-content: center;
	align-items: center;
	/* color: rgb(177, 177, 177); */
	color: rgb(var(--secondaryColor));
}
/*End Error Handling*/

/* - - - - - -  ADD CSS HERE - - - - - - */

/* desktop-tablet.css */
@media (min-width: 875px) and (max-width: 1280px) {
}

/* mobile.css */
@media (max-width: 767px) {
}

/* - - - - - -  END CSS HERE - - - - - - */

.worldmap-wrapper {
	background: #113474;
	position: relative;
}

.countryBox {
	position: absolute !important;
	background: #ffffff !important;
	height: auto !important;
	width: 250px !important;
	box-shadow: rgb(0 0 0 / 15%) 0px 7px 12px, rgb(0 0 0 / 5%) 0px 0px 1px;
	border-radius: 5px;
	overflow: hidden;
	cursor: pointer;
}
.ci-us-box {
	top: 28%;
	left: 13%;
}
.ci-canada-box {
	top: 22%;
	left: 44%;
}
.ci-japan-box {
	top: 31%;
	left: 75%;
}
.ci-newZealand-box {
	top: 71%;
	left: 74%;
}
/*.ci-us-box {*/
/*    top: 28%;*/
/*    left: 17%;*/
/*}*/
/*.ci-canada-box {*/
/*    top: 22%;*/
/*    left: 44%;*/
/*}*/
/*.ci-japan-box {*/
/*    top: 31%;*/
/*    left: 71%;*/
/*}*/

.map-img-con {
	height: 100px !important;
	width: 100% !important;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 50%;
	position: relative;
}
.map-img-con i {
	background: #1a539c;
	color: #ffffff;
	padding: 20px;
	border-radius: 50%;
	font-weight: bold;
	font-size: 18px;
	height: 10px;
	width: 10px;
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	bottom: -25px;
	right: 12px;
}
p.country {
	padding: 10px;
	color: rgb(219, 49, 87);
	font-weight: bold;
	font-size: 16px;
}
.usa-map-wrapper,
.canada-map-wrapper,
.japan-map-wrapper,
.newZealand-map-wrapper {
	background: #113474;
	position: relative;
	margin-top: 5px !important;
}
.resHotpot {
	height: 50px !important;
	width: 50px !important;
	position: absolute !important;
	cursor: pointer;
	filter: drop-shadow(rgba(0, 0, 0, 0.5) 0px 4px 5px);
}
button.back {
	width: 200px;
	height: 40px;
	border-radius: 5px;
	border: none;
	outline: none;
	position: absolute;
	bottom: 0;
	right: 0;
	box-shadow: rgb(0 0 0 / 16%) 0px 5px 30px 0px;
	border-radius: 8px;
	background-image: linear-gradient(
		269deg,
		rgb(219, 49, 87) 0%,
		rgb(60, 109, 196) 100%
	);
	/*font-family: RalewayPA;*/
	color: rgb(255, 255, 255);
	line-height: 24px;
	font-size: 16px;
	padding: 10px 25px;
	background-color: rgb(219, 49, 87);
	font-weight: 700;
	white-space: normal;
	margin: 0px;
	z-index: auto;
	width: auto;
	height: auto;
	border-width: 0px;
	letter-spacing: 0px;
	filter: none;
	cursor: pointer;
}
.lineWrapper {
	width: 200px !important;
	height: 5px !important;
	background: linear-gradient(
		269deg,
		rgb(60, 109, 196) 0%,
		rgb(219, 49, 87) 100%
	);
}
p.mapTitle {
	font-weight: bold;
	padding: 5px 5px 5px 0px;
	text-transform: uppercase;
	font-size: 24px;
	color: rgb(219, 49, 87);
	margin: 20px 0 10px 0;
}
p.mapDes {
	color: #ffffff;
	margin: 0;
	font-size: 18px;
}

.mapwrapper,
.hideMap {
	display: none !important;
}

.showmap {
	display: block !important;
}

.customInteractiveMap-Main-Container {
	max-width: 1100px;
	margin: 0 auto;
}

.mapImageCon img {
	max-width: 1100px;
	margin: 0 auto;
}

.newZealand-map-wrapper .mapImageCon img {
	max-width: 600px;
}
